<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Registration Page</h1>
    <label for="inputEmail" class="sr-only">Name</label>
    <input type="email" id="inputEmail" class="form-control" name="email" [(ngModel)]="email" placeholder="Email-address"
      required autofocus>
    <input type="text" id="inputName" class="form-control" name="name" [(ngModel)]="name" placeholder="Your Name"
      required autofocus>
    <input type="text" id="inputAddress" class="form-control" name="address" [(ngModel)]="address" placeholder="Your Address"
      required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="password" placeholder="Password"
      required>
    <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="passwordCon" placeholder="Re-enter Password"
      required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="checkPass()" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</body>
<p>{{showData()}}</p>