<app-navbar></app-navbar>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a id="previous" class="page-link disabled" (click)="getHotels(offset-5)">Previous</a></li>
    <li class="page-item" *ngFor="let page of pages; let i=index"><a class="page-link" (click)="getHotels(5*(i))">{{i+1}}</a></li>
    <!-- <li class="page-item"><a class="page-link" (click)="getHotels(5,5)">2</a></li>
    <li class="page-item"><a class="page-link" (click)="getHotels(10,5)">3</a></li> -->
    <li class="page-item"><a id="next" class="page-link disabled" (click)="getHotels(offset+5)">Next</a></li>
  </ul>
</nav>

<nav class="nav nav-pills nav-justified" style="margin:20px 0px">
  <a class="nav-item nav-link" id="grid" (click)="gridView()">Grid View</a>
  <a class="nav-item nav-link" id="table" (click)="tableView()">Table View</a>
  <a class="nav-item nav-link" id="down" (click)="downView()">Down View</a>
</nav>

<div [ngSwitch]="views">
  <div *ngSwitchCase="'grid'">
    <div class="album py-5 bg-light" *ngIf="hotels.length > 0; then hotelList else noHotel"></div>
    <ng-template #hotelList>
      <div class="container">

        <div class="row">
          <div class="card" style="width: 18rem;" *ngFor="let hotel of hotels; let i=index">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <a routerLink="/hotels/{{hotel._id}}">
                <h5 class="card-title">{{hotel.name}}</h5>
              </a>
              <!-- <p class="card-text">{{duplicateDescription[i]}}...</p> -->
              <p class="card-text">{{hotel.description.slice(0,150)}}...</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #noHotel>
      <h1 class="box">No Hotels Found....There is some problem with the Server</h1>
    </ng-template>
  </div>


  <div *ngSwitchCase="'table'">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Hotel Name</th>
          <th scope="col">Ratings</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of hotels;let i=index">
          <th scope="row">{{i+1}}</th>
          <a routerLink="/hotels/{{hotel._id}}">
            <td>
              {{hotel.name}}
            </td>
          </a>
          <td>{{hotel.stars}}</td>
          <td>{{hotel.description.slice(0,90)}}...</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngSwitchCase="'down'">
    <div class="card" *ngFor="let hotel of hotels">
      <div class="card-header">
        Featured Hotel
      </div>
      <div class="card-body">
        <h5 class="card-title">{{hotel.name}}</h5>
        <p class="card-text">{{hotel.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>