<app-navbar></app-navbar>

<!-- <script name="script" #script type="application/ld+json">
    [{
      "context" : "http://schema.org",
      "@type" : "MusicEvent",
      "name" : "B.B. King",
      "startDate" : "2014-04-12T19:30",
      "location" : {
        "@type" : "Place",
        "name" : "Lupo's Heartbreak Hotel",
        "address" : "79 Washington St., Providence, RI"
      },
      "offers" : {
         "@type" : "Offer",
         "url" : "https://www.etix.com/ticket/1771656"
      }
    },{
      "@context" : "http://keema.org",
      "@type" : "PartyEvent",
      "name" : "C.C. Queen",
      "startDate" : "2017-01-13T20:00",
      "location" : {
        "@type" : "Place",
        "name" : "Supo's Legbreak Hotel",
        "address" : "New Delhi"
      },
      "offers" : {
        "@type" : "Offer",
        "url" : "https://www.etixfewf.com/ticket/1771657"
      }
    }]
    </script> -->

<!-- <h1 style="font-size: 4em; text-align: center;">Music Events</h1>
<div>
    <section class="box" *ngIf="" *ngFor="let musicEvent of musicEvents; let i=index">
        <h1>{{eventsData[i].location.name}}</h1>

    </section>
</div> -->